.housingContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto 2rem auto;
    padding-top: 2rem;
    background-color: #F6F6F6;
    border-radius: 25px;
}

.housingCard {
    
    margin-bottom: -4em;
}

.housingCard img {
    object-fit: cover;
    border-radius: 10px;
    height: 342px;
    width: 342px;
}

figcaption {
    border-radius: 0 0 10px 10px;
    position: relative;
    bottom: 5rem;
    background-color: rgba(000, 000, 000, 0.7);
}

.housingTitle {
    color: rgba(255, 255, 255, 0.767);
    padding-top: 0.5rem;
    height: 3.2rem;
    margin-left: 1rem;
    max-width: 220px;
}

@media screen and (max-width:768px) {

    .housingContainer {

        justify-content: center;
        margin-top: 0em;
        margin-right: 0em;
        padding-top: 2rem;
        background-color: #F6F6F6;
        border-radius: 25px;
    }

    .housingCard {
        width: 100%;
        margin-top: -2em;
        margin-bottom: -4em;
    }

    .housingCard img {
        object-fit: cover;
        border-radius: 10px;
        height: 342px;
        width: 100%;
        margin: 0em;
    }


}