/***************** Caroussel *****************/

.caroussel-container{
    margin: auto;
    height: 415px;
  }
  .caroussel-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
  }
  .caroussel-img-counter{
    text-align: center;
    color: white;
    margin: -7em;
  }
  .caroussel-nav{
    justify-content: space-between;
    margin: auto;
    display: flex;
    transform: translateY(-350%);
    max-width: 90%;
  }
  .caroussel-nav img{
    max-width: 46px;
  }

  @media screen and (max-width: 768px) {
    .caroussel-container{
      width: 90%;
    }
    .caroussel{
      height: 255px;
    }
    .caroussel-img-counter{
      display: none;
    }
    .caroussel-nav{
      transform: translateY(-370%);
    }
  }