body {
    margin: 0 auto;
    width: 100%;
    font-family: 'Montserrat';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.main {
    max-width: 90%;
    margin: auto;
}

h2 {
    max-width: 40%;
    font-size: 1.2rem;
    font-weight: 500;
}

.section-header,
h2 {
    color: #FF6060;
}

.content {
    margin-bottom: 2rem;
}


@media screen and (max-width:768px) {

    .infos {
        flex-direction: column;
    }



    /***************** Tags *****************/
    .tag-wrapper {
        flex-wrap: wrap;
    }

    .main {
        max-width: 100%;
        margin: auto;
    }
}